@import "../../styles/_typo.sass";

.visual.image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;

  @include mobile {
    justify-content: flex-start;
    align-items: center;
  }

  img {
    border-radius: 100%;
    border: 10px solid $col-brand;
    max-width: 100%;
    box-sizing: border-box;
    height: auto;

    @include desktopOnly {
      max-width: 70%;
    }
    @include mobile {
      margin-top: 20px;
      max-width: 80%;
    }
  }
}